.review-popup {
    width: 500px; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 40px; 
}

.rating-options {
    display: flex;
    justify-content: space-between; /* Evenly space out the options */
    margin-top: 10px;
    padding-left: 100px; 
    padding-right: 100px; 
  }
  
  .rating-options label {
    flex: 1; /* Each label will take equal space */
    text-align: center; /* Center align the label text */
  }
  
  .warning {
    color: red;
    font-weight: bold;
  }